pre {
	tab-size: 4;
}

a:hover,
a:active,
a:focus,
button:hover,
button:active,
button:focus {
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
		 -o-transition: all 0.3s ease;
			transition: all 0.3s ease;
}

.alert {
	list-style-position: inside;
}

.indent {
	padding-left: 45px;
	padding-right: 45px;
}

.row,
.table,
.panel {
	margin-bottom: 3em;
}

.img-logos img {
	margin: 10px 0;
}