.imagery img {
	max-width: 100%;
	margin-bottom: 20px;
}

.panel-container {
	margin-top: 4em;
}

h3.panel-heading {
	margin-top: 0;
}

.icons-lg i {
	font-size: 8em;
	color: #c9c9c9;
	margin: 20px 0;
}