.thumbnails img {
	object-fit: cover;
	width: 150px;
	height: 150px;
	margin-bottom: 3px;
	border: 1px solid #c9c9c9;
}

.panel-container {
	margin-top: 4em;
}

h3.panel-heading {
	margin-top: 0;
}

.icons-lg i {
	font-size: 8em;
	color: #c9c9c9;
	margin: 20px 0;
}