<h1 class="page-header">Style Guide</h1>
<p class="lead">These are the guidelines we use for designing our software.</p>
<div class="indent">
	<blockquote>
		<p>Design is not art. Design has a utilitarian purpose, always. Legibility, comfort, you name it. Art doesn't have it. Art doesn't have to be comfortable, it doesn't have to be legible. It doesn't have to be any of these things. It has to be good, it has to be real, it has to be great. It has to have a whole different set of values.</p>
		<p>&nbsp;&nbsp;&nbsp;&nbsp;<em class="text-muted">&mdash; Massimo Vignelli, Design Is One</em></p>
	</blockquote>
</div>