<h1 class="page-header">Typography <small>Fonts and sizes</small></h1>
<p>Our default font stack is <code>Helvetica Neue, Helvetica, Arial, sans-serif</code>, with a base font size of <code>14px</code> and a line height of <code>1.428</code>.</p>

<div class="indent">
	
	<h3>Headers</h3>					
	<div class="row">
		<div class="col-sm-8">
			<p>Headers should be made with the <code>&lt;h1&gt;</code> - <code>&lt;h6&gt;</code> tags, or the <code>.h1</code> - <code>.h6</code> classes. They should be used in a hierachical manner, meaning that things pertaining to an <strong>h1</strong> should only use an <strong>h2</strong> and things pertaining to the <strong>h2</strong> should only use an <strong>h3</strong>, etc.</p>
			<p>The size of the headers are:</p>
			<ul class="list-unstyled fa-ul">
				<li><code>&lt;h1&gt;</code> is <strong>28px</strong>, <span class="text-muted">with a margin-top of <strong>20px</strong> and a margin-bottom of <strong>10px</strong></span></li>
				<li><code>&lt;h2&gt;</code> is <strong>25px</strong>, <span class="text-muted">with a margin-top of <strong>20px</strong> and a margin-bottom of <strong>10px</strong></span></li>
				<li><code>&lt;h3&gt;</code> is <strong>21px</strong>, <span class="text-muted">with a margin-top of <strong>20px</strong> and a margin-bottom of <strong>10px</strong></span></li>
				<li><code>&lt;h4&gt;</code> is <strong>18px</strong>, <span class="text-muted">with a margin-top of <strong>10px</strong> and a margin-bottom of <strong>10px</strong></span></li>
				<li><code>&lt;h5&gt;</code> is <strong>14px</strong>, <span class="text-muted">with a margin-top of <strong>10px</strong> and a margin-bottom of <strong>10px</strong></span></li>
				<li><code>&lt;h6&gt;</code> is <strong>12px</strong>, <span class="text-muted">with a margin-top of <strong>10px</strong> and a margin-bottom of <strong>10px</strong></span></li>
			</ul>
			<p>The <code>.h1</code> - <code>.h6</code> classes have the same font-size, but they do not have a top or bottom margin.</p>
		</div>
		<div class="col-sm-4">
			<div class="well well-sm">
				<h1>Header 1</h1>
				<h2>Header 2</h2>
				<h3>Header 3</h3>
				<h4>Header 4</h4>
				<h5>Header 5</h5>
				<h6>Header 6</h6>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-8">
			<p>The <code>&lt;small&gt;</code> tag or <code>.small</code> class can be used to create sub-text inside of a header.</p>
		</div>
		<div class="col-sm-4">
			<div class="well well-sm">
				<h4>Header 4 <small>Some sub-text</small></h4>
			</div>
		</div>
	</div>
	
	<h3>Paragraphs</h3>
	<div class="row">
		<div class="col-sm-8">
			<p>Paragraphs should be used when you're writing sentences of content that will. We use <code>&lt;p&gt;</code> tags to space one block of content from another. You should not use a <code>&lt;p&gt;</code> tag if you're just writing out a snippet of text or a number.</p>
			<p>Paragraphs have a default bottom margin of <strong>10px</strong>.</p>
		</div>
		<div class="col-sm-4">
			<div class="well well-sm">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	
	<h3>Bold</h3>
	<p>Use the <code>&lt;strong&gt;</code> tag to make things bold. There are currently no utility classes to make an element bold. Do <strong>not</strong> use the <code>&lt;b&gt;</code> tag.</p>
	
	<h3>Italic</h3>
	<p>Use the <code>&lt;em&gt;</code> tag or the <code>.text-italic</code> class to make things italic (or give them <strong>em</strong>phasis). Do not use the <code>&lt;i&gt;</code> tag.</p>
	
	<h3>Underline</h3>
	<p>We currently do not have a utility class to make things underlined. Do not use the <code>&lt;u&gt;</code> tag.</p>
</div>