<h1 class="page-header">Getting started</h1>
<p class="lead">eMoney takes pride in employing the best visual designers and marketing professionals to produce the most effective market image possible. With a shared vision of what we want the eMoney brand to look like, we can work together to create a consistent voice and visual style across all eMoney Advisor communications. Keep in mind that this guide is intended to change with the company's natural growth.</p>
<p class="lead">The spirit of this guide is <strong>Flexibility with Consistency.</strong></p>

<div class="row">
<div class="col-md-6">
<h2 class="page-header">Things to Consider</h2>
<p class="lead">The purpose of this guide is to help eMoney employees make good decisions surrounding brand consistency while allowing for maximum creative freedom in design projects. The guide provides guidelines on visual and copywriting styles.</p>
</div>
<div class="col-md-6">
<h2 class="page-header">The Future of this Guide</h2>
<p class="lead">The first version of this guide was launched in June 2015. In the near future, we plan to have more information on brand voice and messaging, as well as downloadable templates for Word documents, Powerpoint presentations, and more.</p>
</div>
</div>

<h2 class="page-header">Stuck?</h2>
<p class="lead">We're here to help! If you are unsure about how to use this guide or need more clarification on the details within this guide, please <a href="mailto:brand@emoneyadvisor.com">email us</a>.</p>
<p class="lead">Need to get the ball rolling for a website, video, or print materials? <a HREF="mailto:brand@emoneyadvisor.com?subject=Creative Order Form&body=- Project Type (web/video/print):%0D%0A- Who is the audience for this?%0D%0A- Desired launch date (please do not put ASAP):%0D%0A- Primary stakeholders:%0D%0A%0D%0APlease attach any necessary copy or files to this email. Someone will follow up with you soon regarding this request.">Make a Request</a>.</p>
