<h1 class="page-header">Imagery and Photography</h1>
<p>Chosen photography reflects the innovative and professional spirit of eMoney Advisor. Our platform is built for leaders in the financial industry, so imagery will evoke a commitment to and passion for excellence.</p>
<p>There are several imagery and photography themes outlined below. The Imagery Dos and Don'ts correspond to each theme.</p>
<p>See the <a href="palettes.html">Palettes</a> page for more information on what Imagery Themes can be used depending on your target audience.</p>

<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<h2 class="text-success">Imagery Dos</h2>
				<ul class="alert alert-success well-sm">
					<li>Realistic meeting environments such as &hellip;</li>
					<ul>
						<li>Home visits</li>
						<li>Golf courses</li>
						<li>Restaurants</li>
						<li>Teleconferences</li>
						<li>Making a presentation</li>
					</ul>
					<li>Both genders</li>
					<li>Dark colored suits</li>
					<li>Smart, professional people</li>
				</ul>
			</div>
			<div class="col-md-6">
				<h2 class="text-danger">Imagery Don'ts</h2>
				<ul class="alert alert-danger well-sm">
					<li>Empty offices, empty chairs, empty conference rooms</li>
					<li>Images that are too "stock-photography"</li>
						<ul>
							<li>Staged, sterile, cold, disconnected</li>
							<li>People looking at the camera and smiling</li>
							<li>Groups of generic business people</li>
							<li>Someone in deep thought</li>
							<li>Corporate and cheesy</li>
						</ul>
					<li>Too young, hip, startup, or coffee shop environments</li>
					<li>Handshakes</li>
					<li>Dollar signs, banks</li>
					<li>People younger than about 35 years old</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="imagery">
	<h2 class="page-header">Theme Option 1: Dramatic</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">Dramatic: White on Dark Background</h3>
						<ul>
							<li>Night time city scapes</li>
							<li>Matrix/techno/Minority Report feel</li>
						</ul>
					</div>
					<img src="img/emoneyBlob.jpg">
					<img src="img/shutterstock_70269238.jpg">
					<img src="img/shutterstock_220627147.jpg">
				</div>
				<div class="col-md-6">
					<img src="img/shutterstock_124831474.jpg">
					<img src="img/shutterstock_55288636.jpg">
					<img src="img/shutterstock_88166515.jpg">
					<img src="img/emoney-product-bg.jpg">
				</div>
			</div>
		</div>
	</div>
	<h2 class="page-header">Theme Option 2: Spacious</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">Spacious: Minimal, White Background</h3>
						<p>This minimal type of environment is perfect for displaying devices with app screenshots.</p>
						<p>Use minimal icon styles.</p>
					</div>
				</div>
				<div class="col-md-6">
					<p>Example photos needed, 889px wide</p>
				</div>
			</div>
		</div>
	</div>
	<h2 class="page-header">Theme Option 3: Light, Metaphoric</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">Light</h3>
						<ul>
							<li>Clouds</li>
							<li>Aerial</li>
							<li>Bridges</li>
							<li>Abstract Patterns</li>
						</ul>
					</div>
					<img src="img/shutterstock_133675508.jpg">
					<img src="img/shutterstock_130583078.jpg">
					<img src="img/shutterstock_63832522.jpg">
					<img src="img/shutterstock_96845341.jpg">
				</div>
				<div class="col-md-6">
					<img src="img/imagery-light-01.jpg">
					<img src="img/imagery-light-03.jpg">
					<img src="img/imagery-light-04.jpg">
					<img src="img/imagery-light-05.jpg">
				</div>
			</div>
		</div>
	</div>
	<h2 class="page-header">Theme Option 4: Journalistic/Authentic</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">Journalistic/Authentic</h3>
						<p>Ideal authentic environments will correspond to real surroundings for advisors and clients:</p>
						<ul>
							<li>Restaurants</li>
							<li>Golf courses</li>
							<li>Giving presentations</li>
							<li>Home offices</li>
							<li>Client meetings at home or in an office</li>
						</ul>
						<p>Showing strong, genuine relationships is important. The people shown in these pictures are:</p>
						<ul>
							<li>Modern</li>
							<li>Professional</li>
							<li>Knowledgable</li>
							<li>Tech savvy</li>
							<li>Present a sense of wealth</li>
						</ul>
						<p>Other journalistic imagery approaches include:</p>
						<ul>
							<li>Lifestyle photos</li>
							<li>Crowds of people</li>
						</ul>
					</div>
					<img src="img/shutterstock_135420275.jpg">
					<img src="img/shutterstock_207820810.jpg">
					<img src="img/Presentation_ClientHomepage_Sketch.jpg">
					<img src="img/shutterstock_89640433.jpg">
				</div>
				<div class="col-md-6">
					<img src="img/shutterstock_47867650.jpg">
					<img src="img/shutterstock_106734065.jpg">
					<img src="img/shutterstock_165450731.jpg">
					<img src="img/shutterstock_140452918.jpg">
					<img src="img/shutterstock_116970367.jpg">
				</div>
			</div>
		</div>
	</div>	
</div>