<h1 class="page-header">Imagery and Photography</h1>
<p>Chosen photography will reflect the innovative spirit and professional ethos of eMoney Advisor. Our platform is built for leaders in the financial industry, so imagery will evoke a commitment to and passion for excellence.</p>
<p>Ideal environments will correspond to authentic surroundings for advisors and clients, such as restaurants and golf courses. The people are modern, professional, and present a sense of wealth. Showcasing strong relationships is important.</p>

<div class="row">
	<div class="col-md-6">
		<h2 class="text-success">Imagery Dos</h2>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<ul class="alert alert-success well-sm">
					<li>Realistic meeting environments such as &hellip;</li>
					<ul>
						<li>Home visits</li>
						<li>Golf courses</li>
						<li>Restaurants</li>
						<li>Teleconferences</li>
						<li>Making a presentation</li>
					</ul>
					<li>Both genders</li>
					<li>Dark colored suits</li>
					<li>Smart, professional people</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<h2 class="text-danger">Imagery Don'ts</h2>
		<div class="row">
			<div class="col-md-11 col-md-offset-1">
				<ul class="alert alert-danger well-sm">
					<li>Empty offices, empty chairs, empty conference rooms</li>
					<li>Images that are too "stock-photography"</li>
						<ul>
							<li>Staged, sterile, cold</li>
							<li>People looking at the camera and smiling</li>
							<li>Groups of generic business people</li>
							<li>Someone in deep thought</li>
						</ul>
					<li>Too "hip" (20-somethings in a coffee shop)</li>
					<li>Handshakes</li>
					<li>Dollar signs, banks</li>
					<li>&lt; 35 years old</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h2 class="page-header">Examples: Serious and Powerful Imagery</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<p>Example photos here</p>
				</div>
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">Text</h3>
						<p>Explainer text here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h2 class="page-header">Examples: Friendly and Approachable Imagery</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<p>Example photos here</p>
				</div>
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">Text</h3>
						<p>Explainer text here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<h2 class="page-header">Palettes</h2>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<p>Example concept boards here</p>
				</div>
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">These targets utilize our Serious/Powerful palette</h3>
						<p>Target image here</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				<div class="col-md-6">
					<p>Example concept boards here</p>
				</div>
				<div class="col-md-6">
					<div class="well">
						<h3 class="text-center">These targets utilize our Friendly/Approachable palette</h3>
						<p>Target image here</p>
					</div>
				</div>
			</div>
		</div>
	</div>			
</div>