<h1 class="page-header">Palettes</h1>
<p>There are four visual styles for communication, each having to do with audience (Professional vs Casual), and mood (Bold vs Subtle).</p>
<p>Choose your palette based on desired mood and audience. Below are examples: these are to help you get started; they are not exhaustive of combination possibilities.</p>
	
<h2 class="page-header">Targets</h2>	
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<p class="well">Target graphic goes here for audiences</p>
			</div>
			<div class="col-md-6">
				<p class="well">Graph graphic goes here for quadrants</p>
			</div>
		</div>
	</div>
</div>

<h2 class="page-header">Examples: Professional and Bold Imagery and Colors</h2>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<p>Example photos here</p>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h3 class="text-center">Text</h3>
					<p>Explainer text here</p>
				</div>
			</div>
		</div>
	</div>
</div>

<h2 class="page-header">Examples: Casual and Subtle Imagery and Colors</h2>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<p>Example photos here</p>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h3 class="text-center">Text</h3>
					<p>Explainer text here</p>
				</div>
			</div>
		</div>
	</div>
</div>