<h1 class="page-header">Palettes</h1>
<p>There are four visual styles for communication, each having to do with audience (Professional vs Casual), and mood (Bold vs Subtle).</p>
<p>Choose your palette based on desired mood and audience. Below are examples: these are to help you get started; they are not exhaustive of combination possibilities.</p>
<h2 class="page-header">Target Audiences</h2>	
<div class="row">
	<div class="col-md-6">
		<p class="well">
			<img class="img-responsive" src="img/palettes-target-audiences.png">
		</p>
	</div>
	<div class="col-md-6">
		<p class="well">
			<img class="img-responsive" src="img/palettes-chart.png">
		</p>
	</div>
</div>
<h2 class="page-header">Examples: Professional and Bold Imagery and Colors</h2>
<div class="row">
	<div class="col-md-8">
		<div class="text-center popup-gallery thumbnails">
			<a href="img/shutterstock_220627147.jpg"><img src="img/shutterstock_220627147.jpg"></a>
			<a href="img/shutterstock_124831474.jpg"><img src="img/shutterstock_124831474.jpg"></a>
			<a href="img/shutterstock_55288636.jpg"><img src="img/shutterstock_55288636.jpg"></a>
			<a href="img/shutterstock_88166515.jpg"><img src="img/shutterstock_88166515.jpg"></a>
			<a href="img/emoneyBlob.jpg"><img src="img/emoneyBlob.jpg"></a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="text-center">
			<img class="img-responsive" src="img/palettes-professional-bold-1.png"><br/>
			<img class="img-responsive" src="img/palettes-professional-bold-2.png"><br/>
			<img class="img-responsive" src="img/palettes-professional-bold-3.png"><br/>
		</div>
	</div>

</div>

<h2 class="page-header">Examples: Professional and Subtle Imagery and Colors</h2>
<div class="row">
	<div class="col-md-8">
		<div class="text-center popup-gallery thumbnails">
			<a href="img/imagery-thunderbolt.jpg"><img src="img/imagery-thunderbolt.jpg"></a>
			<a href="img/imagery-home-tools-products.jpg"><img src="img/imagery-home-tools-products.jpg"></a>
			<a href="img/shutterstock_278530199.jpg"><img src="img/shutterstock_278530199.jpg"></a>
			<a href="img/imagery-light-03.jpg"><img src="img/imagery-light-03.jpg"></a>
			<a href="img/imagery-light-05.jpg"><img src="img/imagery-light-05.jpg"></a>
			<a href="img/shutterstock_236044147.jpg"><img src="img/shutterstock_236044147.jpg"></a>
			<a href="img/shutterstock_135420275.jpg"><img src="img/shutterstock_135420275.jpg"></a>
		</div>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="img/palettes-professional-subtle-1.png"><br/>
		<img class="img-responsive" src="img/palettes-professional-subtle-2.png"><br/>
		<img class="img-responsive" src="img/palettes-professional-subtle-3.png"><br/>

	</div>
</div>

<h2 class="page-header">Examples: Casual and Bold Imagery and Colors</h2>
<div class="row">
	<div class="col-md-8">
		<div class="text-center popup-gallery thumbnails">
			<a href="img/shutterstock_63832522.jpg"><img src="img/shutterstock_63832522.jpg"></a>
			<a href="img/shutterstock_126133103.jpg"><img src="img/shutterstock_126133103.jpg"></a>
			<a href="img/shutterstock_207820810.jpg"><img src="img/shutterstock_207820810.jpg"></a>
			<a href="img/shutterstock_70269238.jpg"><img src="img/shutterstock_70269238.jpg"></a>
			<a href="img/emoney-product-bg.jpg"><img src="img/emoney-product-bg.jpg"></a>
		</div>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="img/palettes-casual-bold-1.png"><br/>
		<img class="img-responsive" src="img/palettes-casual-bold-2.png"><br/>
		<img class="img-responsive" src="img/palettes-casual-bold-3.png"><br/>
	</div>
</div>


<h2 class="page-header">Examples: Casual and Subtle Imagery and Colors</h2>
<div class="row">
	<div class="col-md-8">
		<div class="text-center popup-gallery thumbnails">
			<a href="img/shutterstock_165450731.jpg"><img src="img/shutterstock_165450731.jpg"></a>
			<a href="img/unsplash_photo-1429041966141-44d228a42775.jpg"><img src="img/unsplash_photo-1429041966141-44d228a42775.jpg"></a>
			<a href="img/shutterstock_219906199.jpg"><img src="img/shutterstock_219906199.jpg"></a>
			<a href="img/shutterstock_96845341.jpg"><img src="img/shutterstock_96845341.jpg"></a>
			<a href="img/shutterstock_238803424.jpg"><img src="img/shutterstock_238803424.jpg"></a>
		</div>
	</div>
	<div class="col-md-4">
		<img class="img-responsive" src="img/palettes-casual-subtle-1.png"><br/>
		<img class="img-responsive" src="img/palettes-casual-subtle-2.png"><br/>
		<img class="img-responsive" src="img/palettes-casual-subtle-3.png"><br/>
	</div>
</div>

<script src="magnific-popup/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function() {
		$('.popup-gallery').each(function () {
			$(this).magnificPopup({
				delegate: 'a',
				type: 'image',
				tLoading: 'Loading image #%curr%...',
				gallery: {
					enabled: true,
					navigateByImgClick: true
				},
				image: {
					tError: 'Image #%curr%</a> could not be loaded.'
				}
			});
		});
	});
</script>