
<h1 class="page-header">Typography</h1>
<p>Each font family chosen is quite diverse and covers a <strong>full range of typographical uses</strong>. Projects representing other entprises should not use the eMoney corporate font, so as to distinguish these communications from our own look and feel.</p>
<p><strong>Kerning, letterspacing, and leading</strong> or linespacing should be done to enhance the look of projects. This is a matter of taste, but should be done with discretion.</p>
<p><strong>Variations</strong> of the each font can be used for emphasis. Use bold, italic, or bulleted lists to emphasize specific information.</p>

<h2 class="page-header">Print Typography</h2>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="row">
			<div class="col-md-6">
				<p>eMoney corporate print communications should use fonts from the <strong>Myriad Pro font family</strong> when possible. The table below shows the weights of the font family that eMoney uses. Projects representing other enterprises should not use the eMoney corporate font, so as to distringuish these communications from our own look and feel.</p>				
				<p>The use of the Myriad Pro font family helps reinforce eMoney's corporate style. It is a font that is easy to read, and conveys information in a clean and visually pleasing manner.</p>
				<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/o9c7uu0298zam74/fonts-Myriad.zip?dl=0" target="_blank">Download</a>
			</div>
			<div class="col-md-6">
				<div class="well">
					<h3 class="text-center">Myriad Pro Weights</h3>
					<img class="img-responsive" src="img/typography-myriadpro.png"/>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<h3 class="page-header">Print Examples</h3>
		<div class="row">
			<img class="col-md-6" src="img/typography-examples-print1.jpg"/>
			<img class="col-md-6" src="img/typography-examples-print2.jpg"/>
			<img class="col-md-6" src="img/typography-examples-print3.jpg"/>
			<img class="col-md-6" src="img/typography-examples-print4.jpg"/>
		</div>
	</div>
</div>

<h2 class="page-header">Web Typography</h2>
<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<p>The <strong><a href="https://www.google.com/fonts/specimen/Lato" target="_blank">Lato font family</a></strong> has many weights and should be given preference in all web communications aside from application fonts. Careful discretion may be used when selecting accent fonts and will be approved on a per-project basis.</p>
		<p>Adhere to these general sizing guidelines:</p>
		<ul>
			<li>h1: 36px</li>
			<li>h2: 30px</li>
			<li>h3: 24px</li>
			<li>Body font: 16px regular</li>
			<li>Small font: 14px</li>
		</ul>
		<p>Use <samp>Bold</samp> font weight for headlines and <samp>Regular</samp> font weight for body text. Use <samp>text-light</samp> sparingly.</p>
		<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/d8jw0688l2apniv/fonts-Lato.zip?dl=0" target="_blank">Download</a>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h3 class="text-center">Lato Weights</h3>
			<img class="img-responsive" src="img/typography-lato.png"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<h3 class="page-header">Examples</h3>
		<img class="img-responsive" src="img/typography-examples-web.jpg"/>
	</div>
</div>

<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<h3 class="page-header">Screenshots of the Corporate Site</h3>
		<div class="row">
			<img class="col-md-12" src="img/typography-examples-web1.jpg"/>
		</div>
		<div class="row">
			<img class="col-md-12" src="img/typography-examples-web2.jpg"/>
		</div>
		<div class="row">
			<img class="col-md-12" src="img/typography-examples-web3.jpg"/>
		</div>
	</div>
</div>

<h2 class="page-header">App Typography</h2>
<div class="row">
	<div class="col-md-5 col-md-offset-1">

		<h3 class="page-header">Bariol Bold</h3>

		<p><strong>Bariol Bold</strong> should be used only in the context of the software platform for headlines.</p>
		<p>Adhere to these general sizing guidelines:</p>
		<ul>
			<li>h1: 28px / 2em</li>
			<li>h2: 25px</li>
			<li>h3: 21px</li>
			<li>h4: 18px</li>
			<li>h5: 14px</li>
			<li>h6: 12px</li>
		</ul>

		<h3 class="page-header">Helvetica Neue, Helvetica, Arial, sans-serif</h3>

		<p>The font stack for the software platform is </p><p><samp>"Helvetica Neue", Helvetica, Arial, sans-serif;</samp></p>
		<ul>
			<li>The body font default is set to 14px.</li>
			<li>The <samp>small</samp> selector is 85% of 14px, or about 11.9px.</li>
			<li>Table legends are set to 16px.</li>
		</ul>
		<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/jbjfizcf5jdojo9/fonts-Bariol.zip?dl=0" target="_blank">Download</a>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h3 class="text-center">Bariol Weights</h3>
			<img class="img-responsive" src="img/typography-bariol.png"/>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<img class="img-responsive" src="img/typography-examples-app.jpg"/>
	</div>
</div>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<h3 class="page-header">Screenshots of the Corporate Site</h3>
		<div class="row">
			<img class="col-md-12" src="img/typography-examples-app1.jpg"/>
		</div>
		<div class="row">
			<img class="col-md-12" src="img/typography-examples-app2.jpg"/>
		</div>
		<div class="row">
			<img class="col-md-12" src="img/typography-examples-app3.jpg"/>
		</div>
	</div>
</div>