<h1 class="page-header">App Logos</h1>
<div class="img-logos">
	<h2 class="page-header">emX Planning Tools</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="img/logo-goal-planner.png">
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/logo-decision-center.png">
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/logo-distribution-center.png">
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/logo-advanced-planning.png">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p>Each planning tool within emX has an assigned color and associated icon.</p>
			<ul>
				<li><span class="color-dot" style="background-color: #e1663f;"></span> Goal Planner: #e1663f </li>
				<li><span class="color-dot" style="background-color: #007dc5;"></span> Decision Center: #007dc5 </li>
				<li><span class="color-dot" style="background-color: #62b663;"></span> Distribution Center: #62b663 </li>
				<li><span class="color-dot" style="background-color: #2c485f;"></span> Advanced Planning: #2c485f </li>
			</ul>
			<p>Do not stretch, distort, recolor, delete, or rearrange parts of the logo other than what appears in the download file.</p>
			<p>Download the vector file to have all the various assets for the planning tools, including the proper arrangement of icons and logo text.</p>
			<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/yvkmwukn6hpils8/logos-emX%20Planning%20Tools.ai.zip?dl=0" target="_blank">Download</a>
		</div>
	</div>
	<h2 class="page-header">Advisor Branded Media Logo</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center">
				<img class="img-responsive center-block" src="img/advisor-branded-media.png" width="250">
			</div>
		</div>
		<div class="col-md-6">
			<p>The Advisor Branded Media logo appears in Advisor Branded Media Purple, #6c3674 <span class="color-dot" style="background-color: #6c3674;"></span>.</p>
			<p>It should appear on white or light low-contrast background colors.</p>
			<p>Do not stretch, distort, recolor, or delete parts of the logo.</p>
			<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/kvm4fghmew544w4/logos-Advisor%20Branded%20Media.zip?dl=0" target="_blank">Download</a>
		</div>
	</div>
	<h2 class="page-header">eMoney Blog Logo</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="img/eblog-color.png">
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/eblog-white.png">
					</div>
				</div>
				<img class="img-responsive center-block" src="img/eblog-square.png" width="200">
			</div>
		</div>
		<div class="col-md-6">
			<p>The eBlog logo is used on the corporate website and email newsletters. Use the square format only when needed.</p>
			<p>Do not stretch, distort, recolor, or delete parts of the logo other than what is displayed here.</p>
			<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/7lcqly0yxkyy8sv/logos-eMoney%20Blog.zip?dl=0" target="_blank">Download</a>
		</div>
	</div>
</div>
