<h1 class="page-header">emX Logos</h1>
<div class="img-logos">
	<h2>Logo Colors</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center small">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-black-on-white.png">
						<div>emX black on white/light backgrounds</div>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-white-on-black.png">
						<div>emX white on black/dark backgrounds</div>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-blue-on-white.png">
						<div>emX blue on white background</div>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-blue-on-grey.png">
						<div>emX blue on light grey background</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p>The emX logo should appear in black or white on a contrasting background. If the logo is over a midtone or color background, use an all-white “dropped out” version.</p>
			<p>The emX logo should not be used over a busy or high-contrast image.</p>
			<p>The app should be referred to as emX, with a lower-case e and m.</p>
			<p>The blue emX logo is Neutral Blue, #468cc8 <span class="color-dot" style="background-color: #468cc8;"></span>. It should be on a white or light grey background (Empty Chart #eee <span class="color-dot" style="background-color: #eee;"></span> or lighter).</p>
			<a class="btn btn-primary" role="button" href="https://www.dropbox.com/s/v4n4mjioodmedzd/logos-emX.zip?dl=0" target="_blank">Download</a>
		</div>
	</div>
	<h2>Exclusion Zones</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center small">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-exclusion.png">
						<div>The emX "e" is a unit of measure for spacing around the logo</div>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-spacing.png">
						<div>Logo with proper spacing is free of distraction or clutter</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p>Give the logo space to maximize its visual presence. The minimum space required surrounding the logo is the width of the emX "e".</p>
		</div>
	</div>
	<h2>Logo Variations</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center small">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-pro.png">
						<div>emX Pro</div>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-select.png">
						<div>emX Select</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p>Variations of the emX logo. The same color and exclusion zone standards apply.</p>
		</div>
	</div>
	<h2>Square Formats</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center small">
				<div class="row">
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-pro-square.png">
						<div>emX Pro, square format</div>
					</div>
					<div class="col-sm-6">
						<img class="img-responsive" src="img/emx-select-square.png">
						<div>emX Select, square format</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<p>For square formats, use this logo variation. The square format is only used with emX Pro or emX Select cannot be used due to space constraints.</p>
		</div>
	</div>
	<h2>Unacceptable Uses</h2>
	<div class="row">
		<div class="col-md-6">
			<div class="well text-center small">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-1.png" />
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-2.png" />
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-3.png" />
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-4.png" />
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-5.png" />
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-6.png" />
					</div>
					<div class="col-md-4 col-sm-6">
						<img class="img-responsive" src="img/logo-bad-7.png" />
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<ul>
				<li>Do not distort the logo proportions.</li>
				<li>Do not apply color to any part of the logo besides #468cc8 <span class="color-dot" style="background-color: #468cc8;"></span>.</li>
				<li>Do not delete, truncate, or otherwise omit any part of the logo.</li>
				<li>Do not change the case of the logo.</li>
				<li>Logo should have maximum contrast and visibility.</li>
			</ul>
		</div>
	</div>	
</div>