<h1 class="page-header">Other Logos</h1>
<div class="row">
	<div class="img-logos">
		<div class="col-md-11 col-md-offset-1">
			<h3>Advisor Branded Media Logo</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<img class="img-responsive" src="img/advisor-branded-media.png">
					</div>
				</div>
				<div class="col-md-6">
					<p>The Advisor Branded Media logo appears in Advisor Branded Media Purple, #6c3674 <span class="color-dot" style="background-color: #6c3674;"></span>.</p>
					<p>It should appear on white or light low-contrast background colors.</p>
					<p>Do not stretch, distort, recolor, or delete parts of the logo.</p>
					<p><a href="#">Download</a></p>
				</div>
			</div>
			<h3>eMoney Blog Logo</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<img class="img-responsive" src="img/eblog-color.png">
						<img class="img-responsive" src="img/eblog-white.png">
						<img class="img-responsive" src="img/eblog-grey.png">
						<img class="img-responsive" src="img/eblog-square.png">
					</div>
				</div>
				<div class="col-md-6">
					<p>The eBlog logo is used on the corporate website and email newsletters. Use the square format only when needed.</p>
					<p>Do not stretch, distort, recolor, or delete parts of the logo other than what is displayed here.</p>
					<p><a href="#">Download</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
