<h1 class="page-header">emX Logos</h1>
<div class="row">
	<div class="col-md-11 col-md-offset-1">
		<div class="img-logos">
			<h3>Logo Colors</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<img src="img/emx-black-on-white.png">
						<small>emX black on white and light backgrounds</small>
						<br/>
						<img src="img/emx-white-on-black.png">
						<small>emX white on black and dark backgrounds</small>
						<br/>
						<img src="img/emx-blue-on-white.png">
						<img src="img/emx-blue-on-grey.png">
						<small>emX blue on white and light grey backgrounds</small>
					</div>
				</div>
				<div class="col-md-6">
					<p>The emX logo should appear in black or white on a contrasting background. If the logo is over a midtone or color background, use an all-white “dropped out” version.</p>
					<p>The emX logo should not be used over a busy or high-contrast image.</p>
					<p>The app should be referred to as emX, with a lower-case e and m.</p>
					<p>The blue emX logo is Neutral Blue, #468cc8 <span class="color-dot" style="background-color: #468cc8;"></span>. It should be on a white or light grey background (Empty Chart #eee <span class="color-dot" style="background-color: #eee;"></span> or lighter).</p>
					<p><a href="#">Download</a></p>
				</div>
			</div>
			<h3>Exclusion Zones</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<img src="img/emx-exclusion.png">
						<small>The emX "e" is a unit of measure for spacing around the logo</small>
						<br/>
						<img src="img/emx-spacing.png">
						<small>Logo with proper spacing is free of distraction or clutter</small>
					</div>
				</div>
				<div class="col-md-6">
					<p>Give the logo space to maximize its visual presence. The minimum space required surrounding the logo is the width of the emX "e".</p>
				</div>
			</div>
			<h3>Logo Variations</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<img src="img/emx-pro.png">
						<small>emX Pro</small>
						<br/>
						<img src="img/emx-select.png">
						<small>emX Select</small>
					</div>
				</div>
				<div class="col-md-6">
					<p>Variations of the emX logo. The same color and exclusion zone standards apply.</p>
				</div>
			</div>
			<h3>Square Formats</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<img src="img/emx-pro-square.png">
						<small>emX Pro, square format</small>
						<br/>
						<img src="img/emx-select-square.png">
						<small>emX Select, square format</small>
					</div>
				</div>
				<div class="col-md-6">
					<p>For square formats, use this logo vatiation. The square format is only used with emX Pro or emX Select cannot be used due to space constraints.</p>
				</div>
			</div>
			<h3>Unacceptable Uses</h3>
			<div class="row">
				<div class="col-md-6">
					<div class="well text-center">
						<div class="row">
							<img class="col-md-6" src="img/logo-bad-1.png">
							<img class="col-md-6" src="img/logo-bad-2.png">
							<img class="col-md-6" src="img/logo-bad-3.png">
							<img class="col-md-6" src="img/logo-bad-4.png">
							<img class="col-md-6" src="img/logo-bad-6.png">
							<img class="col-md-6" src="img/logo-bad-7.png">
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<ul>
						<li>Do not distort the logo proportions.</li>
						<li>Do not apply color to any part of the logo besides #468cc8 <span class="color-dot" style="background-color: #468cc8;"></span>.</li>
						<li>Do not delete, truncate, or otherwise omit any part of the logo.</li>
						<li>Do not change the case of the logo.</li>
						<li>Logo should have maximum contrast and visibility.</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>	
</div>
